.main-title {
    text-align: center;
}

header {
    position: relative;
}

.production-section {
    margin-top: 88px;
    padding-inline: 64px;
}

.production-container {
    max-width: 1100px;
    margin: 0 auto;
}

.production-section__player {
    width: 100%;
}

video {
    margin-bottom: 16px;
}

.production-details {
    margin-bottom: 8px;
}

.production-details span {
    font-weight: 600;
}

.production-description {
    margin-bottom: 32px;
}

.production-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    list-style-type: none;
}

.production-gallery__item {
    width: 30%;
}

.production-gallery__item img,
.production-gallery__item video {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .production-gallery__item {
        width: 45%;
    }
}

@media screen and (max-width: 680px) {
    .production-gallery__item {
        width: 100%;
    }
}
