.main-title {
    text-align: center;
}

header {
    position: relative;
}

.production-section {
    margin-top: 88px;
    padding-inline: 64px;
}

.production-container {
    max-width: 1100px;
    margin: 0 auto;
}

.production-section__player {
    width: 100%;
}

video {
    margin-bottom: 16px;
}

.production-details {
    margin-bottom: 8px;
}

.production-details span {
    font-weight: 600;
}

.production-description {
    margin-bottom: 32px;
}

.production-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    list-style-type: none;
}

.production-gallery__item {
    width: 30%;
}

.production-gallery__item img,
.production-gallery__item video {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .production-gallery__item {
        width: 45%;
    }
}

@media screen and (max-width: 680px) {
    .production-gallery__item {
        width: 100%;
    }
}

/* Carousel */
.carousel-container {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    max-width: fit-content;
    /* width: fit-content; */
    height: fit-content;
    display: grid;
    box-shadow: var(--shadow-light);
}

.carousel__direction-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    width: 64px;
    height: 64px;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-out;
}

.carousel__direction-btn:hover {
    opacity: 0.75;
}

.carousel__direction-btn img {
    width: 100%;
    pointer-events: none;
}

.carousel__direction-btn--left {
    left: 0;
}

.carousel__direction-btn--right {
    right: 0;
}

.carousel__slide {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 8px;
    display: none;
}

.carousel__slide--active {
    display: flex;
}

.carousel__picture {
    max-width: 500px;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .carousel__direction-btn {
        width: 32px;
        height: 32px;
    }
}
